# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore objects files
objs/

# Ignore binary files created at last
bin/

# Ignore temp files
temp/

# Ignore binary
run-g
run

# Ignore GNUmakefile, as configure.sh will generate it each time
# make search files in order: GNUmakefile --> makefile --> Makefile
GNUmakefile

# Ignore a build folder (for CMake)
build/